body{
	background-color: #bdbdbd;
	background-image: linear-gradient(#000000 0%, #bdbdbd 50%);
	background-repeat: no-repeat;
}
.detalhesEvento{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
}

.formConvidado{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.tabelaConvidado{
	width: 50%;
}

.formEvento{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.nav-wrapper {
    background-color: #000000 !important;
    font-size: 14px;
    font-weight: bold;
}
.waves-effect{
	right: 30px;
}

.brand-logo{
	left: 30px;
}

.descricaoh1{
	font-size: 70px;
	text-align: center;
}

.descricaoh2{
	font-size: 30px;
	text-align: center;
}

.buttons {
	text-align: center;
	border: 1px;
}
