<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProjectP</title>
  <link rel="stylesheet" href="style/styleCss.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>
    <header>
    <nav class="navbar-formEvento">
        <div>
          <a href="/" class="logo-formEvento"><!--<img src=".png" alt="logo">-->ProjectP</a>
        </div>
          <div class="account-formEvento">
            <a class="cadastroEvento">Cadastro de Eventos</a>
        </div>
    </nav>
    </header>


<th:block th:insert="~{mensagemValidacao}"></th:block>
<div class="container-formEvento formEvento">

    <form class="container-formEvento" method="post">
        <div class="row">
            <div class="input-field">
            <p class="text-formEvento"> Nome: </p> <input class="box-formEventos" type="text" value="" name="nome" />
            </div>
            <div class="input-field">
                <p class="text-FormEvento"> Local: </p><input class="box-formEventos" type="text" value="" name="local" />
            </div>
            <div class="input-field">
                <p class="text-FormEvento">Data: </p><input class="box-formEventos" type="date" value="" name="data" />
            </div>
            <div class="input-field">
                <p class="text-FormEvento"> Horario: </p><input class="box-formEventos" type="time" value="" name="horario" />
            </div>
            <div class="input-field">
                <p class="text-FormEvento"> Horario Final: </p><input class="box-formEventos" type="time" value="" name="horarioFinal" />
            </div>
            <div class="input-field">
                <p class="text-FormEvento"> Observação: </p><input class="box-formEventos" type="text" value="" name="detalhes" />
            </div>
            <div class="controlbutton-formEvento">
            <button class="button-formEvento" type="submit">Salvar</button>
            </div>
        </div>
        <div class="image-formEvento">
            <label class="textimage-formEvento" for="img">
                Clique e selecione uma imagem:
                <input type="file" id="img" name="img" accept="image/*" style="display: none;">
            </label>
        </div>
    </form>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  
</body>
</html>