<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<head>
    <title>Cadastrar Evento</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="style/styleCss.css" />

</head>
<body>

<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Cadastro de Eventos:</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/eventos" class="waves-effect waves-light btn"><i
                        class="material-icons left">format_list_bulleted</i>Lista de Eventos</a></li>
            </ul>
        </div>
    </nav>

</header>


<th:block th:insert="~{mensagemValidacao}"></th:block>
<div class="container formEvento">

    <form class="container" method="post">
        <p class="textFormEvento"> Nome: </p> <input type="text" value="" name="nome" />
        <div class="row">
            <div class="input-field col s6">
                <p class="textFormEvento"> Local: </p><input type="text" value="" name="local" />
            </div>
            <div class="input-field col s3">
                <p class="textFormEvento">Data: </p><input type="date" value="" name="data" />
            </div>
            <div class="input-field col s3">
                <p class="textFormEvento"> Horario: </p><input type="time" value="" name="horario" />
            </div>
            <div class="input-field col s3">
                <p class="textFormEvento"> Horario Final: </p><input type="time" value="" name="horarioFinal" />
            </div>
            <div class="input-field col s9">
                <p class="textFormEvento"> Observação: </p><input type="text" value="" name="detalhes" />
            </div>

        </div>
        <button class="waves-effect waves-light btn-small" type="submit"><i class="material-icons right">send</i>Salvar</button>

    </form>
</div>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>