<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
  <title>Login</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style/styleCss.css" />
</head>



<body>
<div class="container">
<h1>Login</h1>

<header>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>
      <input type="text" formControlName="username" placeholder="Nome de usuário">
    </label>
    <label>
      <input type="password" formControlName="password" placeholder="Senha">
    </label>
    <button type="submit">Entrar</button>
  </form>
</header>
</div>




<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>